@import '/src/theme/colors';

@mixin scale {
  $factor: 1.2;
  transform: scale($factor, $factor);
  -ms-transform: scale($factor, $factor); /* IE 9 */
  -webkit-transform: scale($factor, $factor);
}

.root {
  display: flex;
  border-radius: 4px;
  min-width: 8vw;
  justify-content: center;
  align-items: center;
  text-overflow: ellipsis;
  text-transform: uppercase;
  color: $secondary;
  background-color: transparent;
  font-family: var(--pure-material-font, "Roboto", "Segoe UI", BlinkMacSystemFont, system-ui, -apple-system);
  overflow: hidden;
  cursor: pointer;
  text-decoration:none;

  &:hover {
    @include scale();
  }
}

.root.active {
  cursor:default;
  pointer-events: none;
  background-color: $secondary;
  color: $primary;
}