@import '/src/theme/colors';
@import '/src/theme/mixins';

// TODO: scroll appears

.root { 
  @include background-image;
  //
  scrollbar-color: $secondary $primary;
  padding: 16px;
  color: white;
  height: 83%; // FIXME: 
  overflow: auto;
}

.captchaContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.submitButton {
  &:global(.MuiButton-root) {
    background-color: $secondary-fade7;
    color: $primary;
  }

  &:global(.MuiButton-root):hover {
    background-color: $secondary;
  }
  width: 30%;
}

.padding {
  padding: 16px;
}

.formContainer {
  background-color: $primary-fade7;
  margin: 16px;
  min-width: 300px;
  max-width: 800px;
  width: 40%;
  overflow: visible;
  border-radius: 4px;
}

.form {
  display: flex;
  flex-direction: column;
}

.section {
  display: flex;
  flex-direction: column;

  > div {
    margin-top: 8px;
    background-color: $secondary-fade7;
    border-radius: 4px;
  }
}

.sectionHeading {
  font-size: 24px;
}