@import '/src/theme/colors';

.root { 
  scrollbar-color: $secondary $primary;
  padding: 16px;
  color: white;
  height: 100%;
  overflow: auto;
}

.padding {
  padding: 16px;
}

.formContainer {
  background-color: $secondary-fade5;
  margin: 16px;
  width: 40%;
  border-radius: 4px;
}

.form {
  display: flex;
  flex-direction: column;
}

.section {
  display: flex;
  flex-direction: column;

  > div {
    margin-top: 8px;
  }
}

.sectionHeading {
  font-size: 24px;
}