@import '/src/theme/colors';

.padding {
  padding: 16px;
}

.fade {
  background-color: $primary-fade7;
  border-radius: 4px;
}

.root {
  color: white; 
  display: flex; 
  height: 100%;
}

.icon {
  height: 32px;
  width: 32px;
  fill: white
}

.infoLabel {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 32px;
  margin: 8px;
}

.infoText {
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 16px;
  border-radius: 4px;
  background-color: $secondary-fade1;
}

.info {
  max-height: 50%;
}

.map {
  width: 100%;
  height: 50%;
  max-height: 600px;
}