@import '../../theme/colors';

.root {
  display: flex;
  flex-wrap: wrap;
  padding: 16px;
  background-color: $secondary-fade1;
  height: 100%;
}

.offer {
  padding: 16px;
  width: 20%;
  height: 33%;
}