$secondary: #61ACBB;
$secondary-fade1: rgba(97, 172, 187, 0.1);
$secondary-fade3: rgba(97, 172, 187, 0.3);
$secondary-fade5: rgba(97, 172, 187, 0.5);
$secondary-fade7: rgba(97, 172, 187, 0.7);
$secondary-fade9: rgba(97, 172, 187, 0.9);

$primary: #1D3B4E;
$primary-fade1: rgba(29, 59, 78, 0.1);
$primary-fade3: rgba(29, 59, 78, 0.3);
$primary-fade5: rgba(29, 59, 78, 0.5);
$primary-fade7: rgba(29, 59, 78, 0.7);