@import '/src/theme/colors';

.car-offer-card-root {
  max-width: 345px;
  width: fit-content;
  background-color: $secondary-fade7;
}

.car-offer-card-logo {
  height: 140px;
  background-color: $primary-fade7;
}

