@import '/src/theme/colors';

html,body {
  height: 100%;
  margin: 0;
  background-color: $primary;

  .root {
    height: 100%;
    overflow:hidden;
  
    .content {
      height: 100%;
    }
    
    .header {
      height: 5%;
      padding: 8px;
    }
  
    .section {
      padding: 0 8px 8px 8px;
    }
  }

}

/* .header .footer {
  height: 10vh;
} */

